

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clickable {
   cursor: pointer;
}

table tr td:first-child {
   width: 20%;
}

.text-middle {
   text-align: center;
}

.hidden {
   display: none !important;
   visibility: hidden !important;
}
